<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>158133594661-m1eau6lfaqenip69k2ofnlbkr4rc0scv.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.158133594661-m1eau6lfaqenip69k2ofnlbkr4rc0scv</string>
	<key>API_KEY</key>
	<string>AIzaSyDa0FUjhQFVLVDfjD6Z88WP9s_Ct1MkQXM</string>
	<key>GCM_SENDER_ID</key>
	<string>158133594661</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.quizAppNadaAshrafMohammad</string>
	<key>PROJECT_ID</key>
	<string>gitwin-49f05</string>
	<key>STORAGE_BUCKET</key>
	<string>gitwin-49f05.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:158133594661:ios:07424a27cf9bd110d6edcc</string>
</dict>
</plist>